// General Stylings
html, body {
	width: 100%;
	height: 100%;
	font-family: 'Lato';
}

// Class specific 
.fa-btn {
	margin-right: 6px;
}

.alerts {
	border: 2px solid lighten(#ddd, 10%);
	padding: em(10);
	background-color: lighten(#eee, 15%);
}

.alerts-close {
	cursor: pointer;
}

.alerts-success {
	border: 2px solid lighten(green, 30%);
	background-color: lighten(green, 70%);
}

.alerts-error {
	border: 2px solid darken(red, 10%);
	background-color: lighten(red, 40%);
}